:root {
  background-color: #edededfa;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
}
.container {
  padding-top: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

header {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
}
.font_1rem {
  font-size: 1rem;
}

.profile_picture_container {
  width: 25%;
}
.profile_picture {
  border-radius: 1rem;
  width: 100%;
}

.introduction {
  width: 72%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.details {
  width: 100%;
  padding-top: 0.5rem;
  display: flex;
  row-gap: 1rem;
  column-gap: 5%;
  flex-direction: row;
  justify-content: space-between;
}
.name_role,
.contact {
  width: 44%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  word-wrap: break-word;
}
.name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: #4f4f4f;
}

.role,
.summary {
  margin: 0;
  font-weight: 500;
  font-size: 1.125rem;
  color: #828282;
}
.summary {
  display: flex;
  width: 95%;
  flex-direction: column;
  row-gap: 1.5rem;
}
.email,
.mobile {
  width: 95%;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 0;
  color: #4f4f4f;
  display: flex;
  column-gap: 3%;
}
.email_break {
  display: flex;
  flex-wrap: wrap;
}

.details_left {
  width: 38%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
  border-radius: 1rem;
}
.details_right {
  width: 60%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  justify-content: space-between;
  row-gap: 1rem;
}

.detailed_info {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 1rem;
  row-gap: 1rem;
}

/* front end */
.front_end {
  width: calc(100%-1rem);
  color: #4f4f4f;
  padding: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}
.front_end_title {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.skill {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skill_name {
  font-size: 1rem;
  font-weight: 400;
}
.skill_level {
  width: 60%;
}

.level1 {
  width: 80%;
}
.level2 {
  width: 50%;
}
.level3 {
  width: 70%;
}
.level4 {
  width: 85%;
}
.level5 {
  width: 70%;
}

.skill_level_container {
  background-color: rgb(209, 209, 209);
  height: 0.8rem;
  border-radius: 0.4rem;
}
.skill_level_value {
  background-color: #2f80ed;
  height: 0.8rem;
  border-radius: 0.4rem;
}

/* hobbies */

.hobbies {
  width: calc(100%-1rem);
  background-color: rgb(255, 255, 255);
  padding: 5%;
  border-radius: 1rem;
  display: flex;
  row-gap: 1.5rem;
  flex-direction: column;
}
.hobbie_container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.hobbie_image_container {
  width: 98%;
}

.hobbie_image {
  width: 100%;
  border-radius: 1rem;
}
.title_hobbies {
  font-weight: 500;
  font-size: 1.5rem;
  color: #4f4f4f;
}
.hobbie_name {
  padding-top: 1rem;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333333;
  /* font-style: normal; */
}

.hobbie_text {
  font-size: 1 rem;
  color: #828282;
  font-weight: 500;
}
/* blog */

.blog {
  width: calc(100%-1rem);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 4%;
  padding-right: 0;
  row-gap: 4rem;
  border-radius: 1rem;
}
.blog_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.blog_content {
  width: 90%;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  color: #828282;
  padding-left: 2px;
}
.blog_image_container {
  width: 50%;
  padding-top: 0.5rem;
}

.blog_image {
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.blog_header {
  align-items: start;
}
.blog_heading {
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #e0e0e0;
}

.blog_heading_container {
  display: flex;
  flex-direction: column;
  width: 30%;
  row-gap: 1rem;
}
.blog_heading_content {
  font-weight: 500;
  color: #333333;
  font-size: 1.5rem;
  line-height: 29px;
}

/* experiences */

.experiences {
  width: calc(100%-1rem);
  padding: 5%;
  /* padding: 0.5rem 0; */
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  border-radius: 1rem;
}
.experience {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  column-gap: 5%;
}
.year_position {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.exp_img_container {
  width: 25%;
  text-align: center;
  /* padding: 1rem; */
}

.company_logo {
  width: 80%;
}
.exp_details {
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
  width: 65%;
  /* padding: 1rem 0; */
}
.experience_heading {
  font-weight: 500;
  font-size: 1.5rem;
  color: #4f4f4f;
  font-weight: 500;
}
.duration_year {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  color: #828282;
}
.position {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
.exp_work {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}

/* projects */
.projects {
  width: calc(100%-1rem);
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.project_title {
  font-weight: 500;
  font-size: 1.125rem;
  color: #4f4f4f;
}
.projects_list {
  display: flex;
  column-gap: 2%;
}
.project {
  border: 0.05rem solid black;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.88rem;
  border-radius: 0.7rem;
  /* margin-right: 1rem; */
}
.project:hover {
  background-color: #2f80ed;
  color: white;
}
/* works */
.works {
  width: 100%;
  display: flex;
  column-gap: 3%;
}
.work {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1%;
  align-items: center;
  /* width: 30%; */
  flex: 1;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}
.work_image_container {
  width: 97%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  /* margin-top: 0.4rem; */
}
.work_image {
  width: 100%;
  border-radius: 1rem;
}

.used_skills {
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  color: #4f4f4f;
}
.work_name {
  width: 97%;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 auto;
  color: #333333;
}
.work_detail {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.work_explane {
  font-weight: 500;
  width: 95%;
  font-size: 1rem;
  margin: 0 auto;
  color: #828282;
}
.work_related_links {
  width: 97%;
  display: flex;
  column-gap: 10%;
  padding-bottom: 0.5rem;
}

.work_related_links span {
  border: 0.01rem solid #2f80ed;
  padding: 0.5rem 10%;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 22px;
  color: #2f80ed;
}

.work_related_links span:hover {
  background-color: #2f80ed;
  color: white;
}

/* footer */
footer {
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
  color: #828282;
  padding-bottom: 1rem;
}
@media screen and (max-width: 850px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 95%;
    padding-top: 0.5rem;
  }
  header {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    row-gap: 0.5rem;
    box-sizing: border-box;
    padding: 2%;
  }

  .name {
    width: 100%;
  }
  .profile_picture_container {
    width: 100%;
    align-content: center;
  }
  .introduction {
    width: 95%;
  }
  .details {
    flex-direction: column;
  }
  .name_role,
  .contact {
    width: 100%;
  }

  .details_left {
    width: 100%;
  }
  .details_right {
    width: 100%;
  }

  .works {
    flex-direction: column;
    row-gap: 1rem;
  }

  .work {
    width: 100%;
  }
  .skill_level_value {
    background-color: #2f80ed;
  }
}
